asgiref==3.11.0
Django==6.0.1
django-cors-headers==4.9.0
django-stubs==5.2.8
django-stubs-ext==5.2.8
djangorestframework==3.16.1
djangorestframework-stubs==3.16.7
djangorestframework_simplejwt==5.5.1
psycopg2-binary==2.9.11
PyJWT==2.10.1
python-dotenv==1.2.1
pytz==2025.2
sqlparse==0.5.5
types-PyYAML==6.0.12.20250915
types-requests==2.32.4.20260107
typing_extensions==4.15.0
urllib3==2.6.3
whitenoise
beautifulsoup4
celery
django-celery-beat
redis
requests
thefuzz==0.22.1
django-celery-beat
openpyxl==3.1.5
pdfplumber>=0.11.0
django-unfold>=0.40.0
weasyprint>=63.0
